.table{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    
   
}

.tableBody{
    text-align: center;
}
.title{
    padding: 10px;
    border: none;
    background-color: rgb(118, 183, 236);
    color: white;
}
.item{
    padding: 10px;
    border: 1px solid rgba(150, 149, 149, 0.767);
}
